{{define "File"}}
{{template "_head"}}
{{template "_nav"}}
<body class="bg-primary font-weight-light text-white">
    <br>
    <div class="container bg-dark">


        <div class="jumbotron jumbotron-fluid bg-dark">
            <div class="container">
                <h1 class="font-weight-light">Arquivo de importação</h1>
                <label>{{.Caminho}}</label>
                <p class="lead">Insira os detalhes</p>
            </div>
        </div>
        <form method="POST" action="push">
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="descricao">Caminho:</label>
                        <select name="arquivo" id="arquivo">
                            <option value="{{.Caminho}}">{{.Caminho}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <label for="tipo">Tipo:</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8">
                    <div class="form-group">
                        <div class="btn btn-primary">
                            <input type="radio" id="txitens" name="tipo" value="Txitens" checked />
                            <label for="txitens">Txitens</label>
                        </div class="btn btn-primary">

                        <div class="btn btn-primary">
                            <input type="radio" id="itensmgv" name="tipo" value="ItensMGV" />
                            <label for="itensmgv">Itensmgv</label>
                        </div class="btn btn-primary">

                        <div class="btn btn-primary">
                            <input type="radio" id="cadtxt" name="tipo" value="CADTXT" />
                            <label for="cadtxt">CADTXT</label>
                        </div class="btn btn-primary">

                        <div class="btn btn-primary">
                            <input type="radio" id="csv" name="tipo" value="CSV" />
                            <label for="csv">Csv</label>
                        </div>


                    </div>
                </div>
            </div>

            <button type="submit" value="salvar" class="btn btn-primary">Puxar dados</button>
            <a class="btn btn-warning" href="/">Voltar</a>
            
        </form>
        <br>
    </div>
    <br>
    {{template "_footer"}}
</body>

</html>
{{end}}